node_modules/
.env
.env.example
/WebScrape/data/raw/*
!/WebScrape/data/raw/.gitkeep
/WebScrape/data/output/*
!/WebScrape/data/output/.gitkeep
/WebScrape/models/*
!/WebScrape/models/.gitkeep
/WebScrape/kaggle
CLAUDE.md
